In [2]:

#  including python, modules, universal functions, numpy and pandas. Test will be of both objective and question

In [8]:
# basic operation


num1=int(input("Enter first number: "))
num2=int(input("Enter second number: "))

print("Select operation")
print("1. Addition")
print("2. Subtraction")
print("3. multiplication")
print("4. division")
print("5. Modulo")

op=int(input("Enter operation number"))
print(" You choose: ",op)
if op == 1:
    print(f"{num1} + {num2}: ",num1 + num2)
elif op==2:
    print(f"{num1} - {num2}: ",num1 - num2)
elif op == 3:
   print( f"{num1} * {num2}: ",num1 * num2)
elif op == 4:
    print(f"{num1} / {num2}: ",num1 / num2)
elif op == 5:
    print(f"{num1} % {num2}: ",num1 % num2)
else:
    print("You entered invalid operator:( ")

Select operation
1. Addition
2. Subtraction
3. multiplication
4. division
5. Modulo
 You choose:  3
5 * 2:  10

In [ ]:
# strings

str1="Hello there!"


# indexing and Slicing

print(str1[2:6])
print(str1[0])
print(str1[-1])
print(str1[:])
print(str1[:5])
print(str1[3:])
print(str1[2:-2])

llo
H
!
Hello there!
Hello
lo there!
llo ther

In [ ]:
str2="Ths is@#a$%6practics session"

print(str2[2:13:2]) #start : end : step

print(str2[::-1]) #start : End : last index

si@a%p
noisses scitcarp6%$a#@si shT

In [52]:
# string functions
str2="   Ths is practics session   "
str3="This is our AI Class"
print(str2.upper())
print(str2.capitalize())
print(str2.lower())
print(str2.strip())
print(str2.replace("session","class"))
print("count c: ",str2.count("c"))
print("index of p: ",str2.find("p"))
print("Return True if string start with (i) else false: ",str3.startswith('i'))
print("Return True if string start with (T) else false: ",str3.startswith('T'))
print("Return True if string ends with (Class) else false: ",str3.endswith('Class'))
print("Return True if string ends with (Class) else false: ",str3.endswith('session'))
new_str=str3.split(" ")
print(new_str)
print(len(new_str))
print('-'.join(str3.split(" ")))
print('__'.join(str3.split(" ")))

   THS IS PRACTICS SESSION
   ths is practics session
   ths is practics session
Ths is practics session
   Ths is practics class
count c:  2
index of p:  10
Return True if string start with (i) else false:  False
Return True if string start with (T) else false:  True
Return True if string ends with (Class) else false:  True
Return True if string ends with (Class) else false:  False
['This', 'is', 'our', 'AI', 'Class']
5
This-is-our-AI-Class
This__is__our__AI__Class

In [53]:
# string formatting
name="Atiqa"
Age="20"

print(f" name: {name} Age is {Age}")

 name: Atiqa Age is 20

In [55]:
s = "Python"
print(s[::-2])

nhy

In [ ]:
list1=[2,4,6,23,"Atiqa",True,3.45,4-3]

# list indexing and sliciing

print(list1[4])
print(list1[:])
print(list1[3:6])
print(list1[:5])
print(list1[7:])
print(list1[::2])
print(list1[::-1])  #reverse string
print(list1[::-2])

Atiqa
[2, 4, 6, 23, 'Atiqa', True, 3.45, 1]
[23, 'Atiqa', True]
[2, 4, 6, 23, 'Atiqa']
[1]
[2, 6, 'Atiqa', 3.45]
[1, 3.45, True, 'Atiqa', 23, 6, 4, 2]
[1, True, 23, 4]

In [11]:
list2=["Ahmed","Sara","Raza","Ali","Atiqa","Ayesha","Zain","Zara"]

# list functions

list2.append("zia")
print(list2)

list2[5]="Ayesha Akbar"
print(list2)
list2.insert(2,"Kulsoom")
print(list2)
list2.remove("Sara")
print(list2)
list2.pop()
print(list2)
list2.pop(0)
print(list2)

['Ahmed', 'Sara', 'Raza', 'Ali', 'Atiqa', 'Ayesha', 'Zain', 'Zara', 'zia']
['Ahmed', 'Sara', 'Raza', 'Ali', 'Atiqa', 'Ayesha Akbar', 'Zain', 'Zara', 'zia']
['Ahmed', 'Sara', 'Kulsoom', 'Raza', 'Ali', 'Atiqa', 'Ayesha Akbar', 'Zain', 'Zara', 'zia']
['Ahmed', 'Kulsoom', 'Raza', 'Ali', 'Atiqa', 'Ayesha Akbar', 'Zain', 'Zara', 'zia']
['Ahmed', 'Kulsoom', 'Raza', 'Ali', 'Atiqa', 'Ayesha Akbar', 'Zain', 'Zara']
['Kulsoom', 'Raza', 'Ali', 'Atiqa', 'Ayesha Akbar', 'Zain', 'Zara']

In [20]:
# list operations

list3=[2,4,6,8,10]
list4=[1,3,5,7,9]

print(list3 + list4) # join lists
print(list3 * 2)

print(12 in list3)
print("Atiqa" in list2)
print("length of list: ",len(list2))
print("length of list: ",len(list3))

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
False
True
length of list:  7
length of list:  5

In [35]:
list4=[3,0,7,-3,5,1,9]
list4.sort(reverse=True)
print(list4)

[9, 7, 5, 3, 1, 0, -3]

In [40]:
list5=list4.copy()
list5.append("Nums")
print(list5)
print(list4)

[9, 7, 5, 3, 1, 0, -3, 'Nums']
[9, 7, 5, 3, 1, 0, -3]

In [59]:
for element in list4:
    print(element**2)

squares= [x**2 for x in range(1,11)]
print(squares)
y=5
table=[x*y for x in range(1,11)]
print(table)

evens=[x for x in range(1,30) if x%2==0]
print(evens)

81
49
25
9
1
0
9
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [60]:
names=["Ahmed","Sara","Raza","Ali","Atiqa","Ayesha","Zain","Zara"]

for name in names:
    print(name)

Ahmed
Sara
Raza
Ali
Atiqa
Ayesha
Zain
Zara

In [65]:

for name in range(1, len(names)):
    print(f"{name}. {names[name]}")

1. Sara
2. Raza
3. Ali
4. Atiqa
5. Ayesha
6. Zain
7. Zara

In [66]:
for index,name in enumerate(names):
    print(f"{index}. {name}")

0. Ahmed
1. Sara
2. Raza
3. Ali
4. Atiqa
5. Ayesha
6. Zain
7. Zara

In [70]:
# # while loop

i=0
while i< len(names):
    print(i,names[i])
    i=i+1

0 Ahmed
1 Sara
2 Raza
3 Ali
4 Atiqa
5 Ayesha
6 Zain
7 Zara

In [100]:
i=0
names=["Ahmed","Sara","Raza","Ali","Atiqa","Ayesha","Zain","Zara"]


while i< len(names):
   
    if names[i].startswith("Z"):
     print(i,names[i])
    i=i+1

6 Zain
7 Zara

In [107]:

names=["Ahmed","Sara","Raza","Ali","Atiqa","Ayesha","Zain","Zara"]
i=0
while i < len(names):
    if not names[i].startswith("A"):
        print(names[i])
    i=i+1

Sara
Raza
Zain
Zara

In [112]:
i=len(names)-1
while i >= 0:
    if names[i].startswith("A"):
        print(names[i])

    i=i-1

Ayesha
Atiqa
Ali
Ahmed

In [122]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)# (List1 me List2 ke elements add karna)
print(list2)

list1=[1,2,3]
list2=[4,5,6]
print(list1+list2)
print(list1)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [143]:
matrix = [
    [1, 2, 3],  # Row 0
    [4, 5, 6],  # Row 1
    [7, 8, 9]   # Row 2
]
print(matrix[0][2])
print("-----------------")
first_column = [row[0] for row in matrix]
print(first_column)

3
-----------------
[1, 4, 7]

In [145]:
for row in matrix:
    print(row[2])

3
6
9

In [146]:
for row in matrix:
    for col in row:
        print(col, end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [167]:
# Dictionaries

dict1={
    "name":"Atiqa",
    "Domain":"AI",
    "Age": 21,
    "maks":"100"
}


print(dict1)
print(dict1["Age"])
print(dict1["Domain"])
print(dict1["name"],["Age"])

{'name': 'Atiqa', 'Domain': 'AI', 'Age': 21, 'maks': '100'}
21
AI
Atiqa ['Age']

In [158]:
print(dict1.get("Interest","Not found"))

Not found

In [161]:
dict1["Age"]=22
print(dict1)

dict1["Qualification"]= "BS"
print(dict1)

del dict1["maks"]
print(dict1)

{'name': 'Atiqa', 'Domain': 'AI', 'Age': 22, 'maks': '100', 'Qualification': 'BS'}
{'name': 'Atiqa', 'Domain': 'AI', 'Age': 22, 'maks': '100', 'Qualification': 'BS'}
{'name': 'Atiqa', 'Domain': 'AI', 'Age': 22, 'Qualification': 'BS'}

In [ ]:


dict1={
    "name":"Atiqa",
    "Domain":"AI",
    "Age": 21,
    "maks":"100"
}

age=dict1.pop("Age")
print(age)

21

In [ ]:

dict1={
    "name":"Atiqa",
    "Domain":"AI",
    "Age": 21,
    "maks":"100"
}
for keys,values in dict1.items():
    print(f"{keys}: {values}")

name: Atiqa
Domain: AI
Age: 21
maks: 100

In [181]:
for values in dict1.values():
    print(f" {values}")

print("-----------------------")
for keys,values in dict1.items():
    print(f"{keys} {values}")

 Atiqa
 AI
 21
 100
-----------------------
name Atiqa
Domain AI
Age 21
maks 100

In [183]:
if "interest" in dict1:
    print("Your interest exist")
else:
    print("not exist")

print("-----------------------")

if "name" in dict1:
    print("Your name exist")
else:
    print("not exist")

not exist
-----------------------
Your name exist

In [185]:
students={
"Ali":{"Age":20,"marks":90},
"Sana":{"Age":22,"marks":96},
"Rafi":{"Age":21,"marks":89},
"Sohail":{"Age":21,"marks":86},
}

In [187]:
print(students["Sana"]["marks"])

96

In [197]:
for name,details in students.items():
        print(f"{name}\n Details: Age:{details["Age"]} Marks: {details['marks']}")

Ali
 Details: Age:20 Marks: 90
Sana
 Details: Age:22 Marks: 96
Rafi
 Details: Age:21 Marks: 89
Sohail
 Details: Age:21 Marks: 86

In [198]:
# functions

def func1():
    print("Hello there")

In [202]:
func1()

Hello there

In [204]:
def func1(name):
    print(f"Hello {name}")

func1("neha")
name="Rahul"
func1(name)

Hello neha
Hello Rahul

In [207]:
def func1(a,b):
    return a+b


func1(3,6)

9

In [221]:
def func1(a=4,b=3):
 print(a+b)


func1(b=1)
func1(2,2)
func1(7)

5
4
10

In [227]:
def add(*nums):
    return sum(nums)

In [229]:
print(add(3,5))

8

In [230]:
def details(**info):
    for keys,values in info.items():
        print(f"{keys} value: {values}")


print(details(name="Atiqa"))

name value: Atiqa
None

In [234]:
# lambda function

square= lambda x:x*x
print(square(2))
print(square(12))

cube=lambda x: x*x*x
print(cube(3))

4
144
27

In [237]:
def func(fx,a):
    n=fx+3+a
    print(n)

func(cube(3),5)

35

In [238]:
add=lambda a,b:a+b

print(add(2,4))

6

In [258]:
# nested function 

def out(x,y):
 def inner(x,y):
    return x+y
 return inner(x,y) + 5

print(out(2,1))

8

In [263]:
def fact(n):
    if n==1:
        return 1
    return n* fact(n-1)

fact(5)

120

In [273]:
# Exception handling:

try:
    a=23
    b=0
    print("Division: ",a/b)
except Exception as e:
    print(e)
print("==================")
try:
    a=23
    b=0
    print("Division: ",a/b)
except ZeroDivisionError:
    print("Unable to divide number with 0")

division by zero
==================
Unable to divide number with 0

In [274]:
try:
    num=int(input("Enter number: "))

except Exception as e:
    print(e)

invalid literal for int() with base 10: 'gdh'

In [280]:
try:
    a=10
    num=int(input("Enter number: "))
    print(a/num)

except ZeroDivisionError:
    print("Denominator cant be zero")
except ValueError:
    print("Invalid value entered")
except Exception as e:
    print(e)

Invalid value entered

In [ ]:
num=int(input("Enter number from 5, 10 ,15"))
if num not in [5,10,15]:
    raise ValueError("Please select the number as per instrctions")
print(num*num)

225

In [4]:
# Object oriented programming 
class Student:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def info(self):
        print(f"Name:{self.name} Age:{self.age}")

s1=Student("Anam",21)
s1.info()
s2=Student("Atiqa",20)
s2.info()

Name:Anam Age:21
Name:Atiqa Age:20

In [9]:
class Car:
    model="Rx154E"
    color="Purple"
    no_plate="1201"


c1=Car()
print(c1.model)
print(Car.color)
c1.no_plate="3225"
print(c1.no_plate)

Rx154E
Purple
3225

In [10]:
class Person: #--> class 
    name="Richerd"
    occuption="Software Enginner"
    salary=3000

In [12]:
p1=Person() #--> object
p1.occuption="DevOps Engineer"
print("\n",p1.name," is a ",p1.occuption,"\n")

p2=Person() #--> object
p2.name="Neil"
print("\n",p2.name," is a ",p2.occuption,"\n")

 Richerd  is a  DevOps Engineer


 Neil  is a  Software Enginner

In [ ]:
# Encapsulation

class Account:
     def __init__(self, account_holder):
          self.account_holder=account_holder
          self.__balance=10000  #private

     def deposit(self,amount):
          self.__balance=self.__balance+amount
          print("Deposit successful")

     def withdrawl(self,amount):
          if (self.__balance >= amount):
               self.__balance=self.__balance-amount
               print("Withdrawl Successfully")
          else:
               print("Your current balance is Insufficient")


     def get_balance(self):
          print(f"Account Holder:{self.account_holder} Current balance: {self.__balance}")

In [44]:
a1=Account("Atiqa")
a1.get_balance()
a1.deposit(5000)
a1.get_balance()
a1.withdrawl(12000)
a1.get_balance()
a1.withdrawl(5000)

Account Holder:Atiqa Current balance: 10000
Deposit successful
Account Holder:Atiqa Current balance: 15000
Withdrawl Successfully
Account Holder:Atiqa Current balance: 3000
Your current balance is Insufficient

In [ ]:
# Abstraction
from abc import ABC,abstractmethod

class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass

class Dog(Animal):
    def sound(self):
        print("Barks")


class Cat(Animal):
    def sound(self):
        print("Meow")

Meow

In [47]:
c1=Cat()
c1.sound()

d1=Dog()
d1.sound()

Meow
Barks

In [53]:
# inheritance

class Vechical:
    def __init__(self,brand):
        self.brand=brand

    def show_brand(self):
        print(f"Brand: {self.brand}")

class Car(Vechical):
    def __init__(self, brand,model):
        super().__init__(brand)
        self.model=model

    
    def show_model(self):
        print(f"Model: {self.model}")

# v1=Vechical("SUZUKI")
# v1.show_brand()

c1=Car("SUZUKI","RX31ZE")
c1.show_brand()
c1.show_model()

Brand: SUZUKI
Model: RX31ZE

In [ ]:
class Person:
    def __init__(self,name,age):
        self.name=name
        self.age=age

    def info(self):
        print(f"Name: {self.name} Age: {self.age}")


class Student(Person):
    def __init__(self, name, age,marks):
        super().__init__(name, age)
        self.marks=marks

    def info(self):
        super().info()
        print(f"marks: {self.marks}")

In [81]:

s1=Student("Atiqa",21,90)
s1.info()

Name: Atiqa Age: 21
90