#  **EXAM FOR PYTHON**

## Q.1: Sum and average of first n natural numbers

### 1. Sum and average of n numbers in Python

### 2. Accept the number n from a user
### 3. Use input() function to accept integer number from a user.

### 4. Run a loop till the entered number
Next, run a for loop till the entered number using the range() function. In each iteration, we will get the next number till the loop reaches the last number, i.e., n.

### 5. Calculate the sum
In each iteration, keep adding the current number into the sum variable to calculate the addition. Use a formula sum = sum + current number.

### 6. Calculate the average
At last, after the loop ends, calculate the average using a formula average = sum / n. Here, The n is a number entered by the user.


### Desired Output


Enter number 10

Sum of first  10 numbers is:  55

Average of  10 numbers is:  5.5

In [1]:
n=int(input("Enter a number: "))
sum=0
for i in range(1,n+1):
    sum=sum+i
    avg=sum/n
print(f"Sum of first {n} numbers is",sum)
print(f"Average of first {n} numbers is",avg)

Enter a number:  10

Sum of first 10 numbers is 55
Average of first 10 numbers is 5.5

## Q.2: Check if the first and last numbers of a list are the same
Write a code to return True if the listâ€™s first and last numbers are the same. If the numbers are different, return False.

### Given:

numbers_x = [10, 20, 30, 40, 10]

numbers_y = [75, 65, 35, 75, 30]

### Expected Output:

Given list: [10, 20, 30, 40, 10]

result is True


numbers_y = [75, 65, 35, 75, 30]

result is False

In [3]:
numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

def compare(num):
    print("Given List",numbers_x)
    if num[0] == num[-1]:
        print("Result is True")
    else:
        print("False")
compare(numbers_x)
compare(numbers_y)

Given List [10, 20, 30, 40, 10]
Result is True
Given List [10, 20, 30, 40, 10]
False

## Q.3: Check Palindrome Number
Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. 
**For example, 545 is the palindrome number.**

### Expected Output:
original number 121

Yes. given number is palindrome number

original number 125

No. given number is not palindrome number

In [19]:

num=int(input("Enter a number"))
# 1. first we have to save the original entered number in to another variable
ori_num=num
# 2. initiallizing the reversing variable to 0 first
rev=0
while num>0:
# 3. now first store the reminder in n
    n=num%10
    # 4. then multiply reversing variable with 10 for place vaalue and then add reminder in to the reverse variabl
    rev=(rev*10)+n
    # 5. this will remove the digits from the original number
    num=num//10


if ori_num==rev:
   print("True")
else:
   print("False")
    
# print(ori_num)
# print(rev)

SyntaxError: invalid syntax (4197665711.py, line 9)

## Q.4: Create an inner function to calculate the addition in the following way
**Create an outer function that will accept two parameters, a and b**

**Create an inner function inside an outer function that will calculate the addition of a and b**

**At last, an outer function will add 5 into addition and return it**
### Given:
result = outer_fun(5, 10)
### Output:
20

In [22]:
def outer_fun(a,b):
    def addition(a,b):
        return a+b
    return addition(a,b)+5

print(outer_fun(5,10))

20

## Q.5: Print a date in a the following format
**Day_name      Day_number      Month_name      Year**

#### Refer: Python DateTime Format Using Strftime()

### Given:
given_date = datetime(2020, 2, 25)

### Expected output:
Tuesday 25 February 2020

In [23]:
from datetime import datetime
given_date=datetime(2020, 2, 25)
print(given_date.strftime("%A %d%B %Y "))

Tuesday 25February 2020

## Q.6: Calculate number of days between two given dates
### Given:

date_1 = datetime(2020, 2, 25)

date_2 = datetime(2020, 9, 17)

### Expected output:
**205 days**

In [24]:
date_1 = datetime(2020, 2, 25)
date_2 =datetime(2020, 9, 17)

delta=date_1-date_2

print(abs(delta.days))

205

## Q.7: Turn every item of a list into its square
Given a list of numbers. write a program to turn every item of a list into its square.

### Given:
numbers = [1, 2, 3, 4, 5, 6, 7]

### Expected output:
[1, 4, 9, 16, 25, 36, 49]

In [25]:
numbers = [1, 2, 3, 4, 5, 6, 7]
x=[]
for i in numbers:
    x.append(i*i)

print(x)

[1, 4, 9, 16, 25, 36, 49]

## Q.8: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List

### Given:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
### Expected output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [26]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1.append(2)

list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40, 2]

## Q.9: Calculate the cube of all numbers from 1 to a given number
Write a Python program to print the cube of all numbers from 1 to a given number

### Given:

**input_number = 6** // Take user input

### Expected output:

Current Number is : 1  and the cube is 1

Current Number is : 2  and the cube is 8

Current Number is : 3  and the cube is 27

Current Number is : 4  and the cube is 64

Current Number is : 5  and the cube is 125

Current Number is : 6  and the cube is 216

In [27]:
input_number = int(input("Enter a number:"))

for i in range(1,input_number):
    print(f"Current Number {i} cube is:",i*i*i)

Enter a number: 10

Current Number 1 cube is: 1
Current Number 2 cube is: 8
Current Number 3 cube is: 27
Current Number 4 cube is: 64
Current Number 5 cube is: 125
Current Number 6 cube is: 216
Current Number 7 cube is: 343
Current Number 8 cube is: 512
Current Number 9 cube is: 729

## Q.10: Write all content of a given file into a new file by skipping line number 5
### Hints:
Python file handling

Python Read file

Python write file

Create a test.txt file and add the below content to it.

### Given test.txt file:

line1

line2

line3

line4

line5

line6

line7
### Expected Output: new_file.txt

line1

line2

line3

line4

line6

line7

In [45]:
import os
list=["line1\n","line2\n","line3\n","line4\n","line5\n","line6\n","line7\n",]
with open("test.txt","w") as f:
    f.writelines(list)
    # f.close()
    

with open("test.txt") as f:
    lines=f.readlines()
    print(lines)

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7\n']

In [48]:
with open("test.txt") as f:
    lines=f.readlines()
    print(lines)
with open("new_file.txt","w") as fp:
    for i,line in enumerate(lines):
        if i==4:
            continue
        fp.writelines(line)

['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7\n']

## Q.11: Assign a different name to function and call it through the new name
Below is the function **display_student(name, age)**. Assign a new name **show_student(name, age)** to it and call it using the new name.

### Given:
def display_student(name, age):
    print(name, age)

**display_student("Emma", 26)**
### Expected output
You should be able to call the same function using

**show_student(name, age)**

In [50]:
def display_student(name,age):
    print(f"name: {name} Age: {age}")

show_student=display_student

display_student("Anna",24)
show_student("Eman",23)

name: Anna Age: 24
name: Eman Age: 23

## Q.12: Change value of a key in a nested dictionary
Write a Python program to change Bradâ€™s salary to 8500 in the following dictionary.

### Given:

sample_dict = {

    'emp1': {'name': 'Jhon', 'salary': 7500},
    
    'emp2': {'name': 'Emma', 'salary': 8000},
    
    'emp3': {'name': 'Brad', 'salary': 500}
    
}
### Expected output:

{

   'emp1': {'name': 'Jhon', 'salary': 7500},
   
   'emp2': {'name': 'Emma', 'salary': 8000},
   
   'emp3': {'name': 'Brad', 'salary': 8500}
   
}

In [56]:
sample_dict = {

'emp1': {'name': 'Jhon', 'salary': 7500},

'emp2': {'name': 'Emma', 'salary': 8000},

'emp3': {'name': 'Brad', 'salary': 500}
}
sample_dict['emp3']['salary']=8500

print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

## Q.13: Define a class which has at least two methods:
### getString: to get a string from console input
### printString: to print the string in upper case.
### Also please include simple test function to test the class methods.

### Hints:
*Use __ init __ method to construct some parameters*

In [65]:
class Student:
    def getString(self):
        self.name=input("Enter your name: ")
    def printString(self):
        print("in upper case: ",self.name.upper())


s1=Student()
s1.getString()
s1.printString()

Enter your name:  RuBina

in upper case:  RUBINA

## Q.14: Create a child class Bus that will inherit all of the variables and methods of the Vehicle class
### Given:
#### class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

### Create a Bus object that will inherit all of the variables and methods of the parent Vehicle class and display it.

### Expected Output:

**Vehicle Name: School Volvo Speed: 180 Mileage: 12**

In [70]:
class Vechical:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage
    
    def show(self):
        print(f"Vechical name: {self.name} Speed: {self.max_speed} Mileage: {self.mileage}")

class Bus(Vechical):
    pass

b=Bus("School Volve",180,12)
b.show()

Vechical name: School Volve Speed: 180 Mileage: 12

## Q.15: Student management system in Python

**Problem Statement: Write a program to build a simple Student Management System using Python which can perform the following operations:**
1. Accept
2. Display
3. Search
4. Delete
5. Update

### Prerequisite: **Classes and objects in python**

### Desired Output

Operations used, 

1.Accept Student details

2.Display Student Details

3.Search Details of a Student

4.Delete Details of Student

5.Update Student Details

6.Exit


_______________________________________________


List of Students

Name :  A

RollNo :  1

Marks1 :  100

Marks2 :  100


_______________________________________________


Name :  B

RollNo :  2

Marks1 :  90

Marks2 :  90

_______________________________________________


Name :  C

RollNo :  3

Marks1 :  80

Marks2 :  80


_______________________________________________


 Student Found, 
 
Name :  B

RollNo :  2

Marks1 :  90

Marks2 :  90

_______________________________________________


2

List after deletion

Name :  A

RollNo :  1

Marks1 :  100

Marks2 :  100

_______________________________________________


Name :  C

RollNo :  3

Marks1 :  80

Marks2 :  80

_______________________________________________


2

List after updation

Name :  A

RollNo :  1

Marks1 :  100

Marks2 :  100

_______________________________________________


Name :  C

RollNo :  2

Marks1 :  80

Marks2 :  80

_______________________________________________


Thank You !

## Best of Luck...

In [11]:
class Student:
    def __init__(self,name,rollno,marks_1,marks_2):
        self.name=name
        self.rollno=rollno
        self.marks_1=marks_1
        self.marks_2=marks_2
        

    def show(self):
        print(f"name: {self.name} rollno: {self.rollno} marks_1: {self.marks_1} marks_2: {self.marks_2}")

    def Accept_Student_details(self):

In [9]:
print("1. Accept Student details \n2. Display Student Details \n3. Search Details of a Student \n4. Delete Details of Student \n5. Update Student Details \n6. Exit")
opr=int(input("Enter which operation you wanna perform: "))
if opr==1:
    Accept_Student_details()
    print("1")
elif opr==2:
    print("2")
    Display_Student_Details()
elif opr==3:
    print("3")
    Search_Details_Student()
elif opr==4:
    print("4")
    Delete_Details_Student()
elif opr==5:
    print("5")
    Update_Student_Details()
elif opr==6:
    print("6")
    Exit()
else:
    print("Invalid operation value entered: ")
    
    
    
    

students_info = [
    {
        "Name": "A",
        "RollNo": 1,
        "Marks1": 100,
        "Marks2": 100
    },
    {
        "Name": "B",
        "RollNo": 2,
        "Marks1": 90,
        "Marks2": 90
    },
    {
        "Name": "C",
        "RollNo": 3,
        "Marks1": 80,
        "Marks2": 80
    }
]

1. Accept Student details
2. Display Student Details
3. Search Details of a Student
4. Delete Details of Student
5. Update Student Details
6. Exit

Enter which operation you wanna perform:  89

Invalid operation value entered: